@charset "utf-8";

// --- Variables ---
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       $section-headings-color !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$navbar-width:     54em !default;

$on-palm:          38em !default;
$on-laptop:        54em !default;
$medium-breakpoint: 768px !default; // 変数が無い場合のエラー防止用
$large-breakpoint:  1024px !default; // 変数が無い場合のエラー防止用

// --- Mixins ---
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// --- Import Partials ---
@import
  "blog/base",
  "blog/layout",
  "blog/components";