---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.profile-image {
    width: 150px; /* クロップの幅 */
    height: 150px; /* クロップの高さ */
    overflow: hidden; /* 親要素の外に出た部分を非表示にする */
    border-radius: 50%; /* 円形にする（必要な場合） */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 1.5em 0;
}

.site-title {
    font-weight: 500;
}
.site-nav {
    font-weight: 700;
}

.post-list-heading {
    font-weight: 700;
}
.post-list {
    font-weight: 700;
}
.post-link {
    @include relative-font-size(1.25);
    font-weight: 600;
}

.post-title {
    @include relative-font-size(1.8);
    font-weight: 700;
    line-height: 1.35;
}

.post-content {
    h2, h3, h4, h5, h6 {
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
    p {
        line-height: 1.8;
    }
    h2 {
        @include relative-font-size(1.4);
        font-weight: 600;
        border-bottom: 1.5px solid #000; /* 太さ: 2px, 色: 黒 */
        padding-bottom: 0.2em; /* 下線とテキストの間の余白 */
    }
    h3 {
        @include relative-font-size(1.2);
        font-weight: 600;
    }
    h4 {
        @include relative-font-size(1.1);
        font-weight: 600;
    }
}