---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">
      {% if page.emoji %}{{ page.emoji }} {% endif %}{{ page.title | escape }}
    </h1>
    <div class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.tags.size > 0 %}
        <span class="post-tags">
          {% for tag in page.tags %}
            <span class="tag">#{{ tag }}</span>
          {% endfor %}
        </span>
      {% endif %}
    </div>
  </header>
  <div class="post-container">
    <div class="post-main">
      <div itemprop="articleBody">
        {{ content }}
      </div>

      <div class="sns-share-buttons">
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-hashtags="{{ site.twitter.hashtags | join: "," }}" data-dnt="true" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>

      {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
      {% endif %}
    </div>

    <aside class="post-sidebar">
      <div class="sticky-wrapper">
        {% include profile.html %}

        {% if page.toc %}
        <div class="toc-card">
          <div class="sidebar-toc-title">目次</div>
          {% include toc.html html=content sanitize=true class="toc" id="toc" h_max=3 flat_toc=true item_class="toc-level-%level%" %}
        </div>
        {% endif %}
      </div>
    </aside>
  </div>
</article>